.header {
    position: relative;
    font-family: papyrus, sans-serif;
    font-size: 60px;
    color: black;
    text-align: center;
    padding: 0px;
    margin-top: -800px;
    padding-bottom: 100px;
    top: 10%;
}

.stickyNav {
    z-index: 1;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgb(236, 234, 222);
    border-bottom: solid black;
}
.stickyNav + .content{
    padding-top: 60px;
}

#navBar {
    padding-left: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid black;
}
#navBar a {
    display: inline;
    font-family: papyrus, sans-serif;
    font-size: 30px;
    color:black;
    background-color: rgb(236, 234, 222);
    text-decoration: none;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
}

#navBar a:hover {
    background-color: rgb(184, 181, 169);
    transition: 0.3s;
}

.content-1, .content-2 {
    
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: rgb(236, 234, 222);
    margin: auto;
    padding: 20px;
    margin-bottom: 50px;
}
.content-1 {
    margin-left: 400px;
}

.content-2 {
    margin-left: 900px;
}


table, th, td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
    border-spacing: 3px;
}

#day {
    width:20%;
}

table {
    width: 100%;
    background-color: white;
}

#network {
    background-color: rgb(156, 185, 107);
}

#compP {
    background-color: rgb(101, 184, 251);
}

#compS {
    background-color: rgb(255, 125, 125);
}

#math {
    background-color: rgb(255, 222, 115);
}

#workOut {
    background-color: rgb(255, 195, 232);
}

#topPic {
    display: block;
    height: 375px;
    width: 375px;
    border-radius: 5px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    margin-top: 0px;
    margin-bottom: 120px ;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(248, 248, 240);
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 60px;
    transform: rotate(3deg);
}
#topPic:hover {
    height: 400px;
    width: 400px;
    margin-bottom: 95px;
    opacity: 0.9;
    transition: 0.5s;
    cursor: pointer;
}

#family {
    display: block;
    margin-top: 0px;
    margin-right: 450px;
    float: right;
    width: 15%;
    height: 15%;
    border-radius: 50%;
    border: solid black;
}
body, html {
    background-color: rgb(236, 234, 222);
    height: 100%;
    margin: 0px;
}

.par-1, .par-2, .par-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.par-1 {
    background-image: url("../img/utahorem.jpg");
    height: 80%;
    opacity: 0.7;
}

.par-2 {
    background-image: url("../img/gun.jpg");
    height: 50%;
}

.par-3 {
    border-top: solid black;
    border-bottom: solid black;
    background-image: url(../img/myDog.jpeg);
    height: 30%;
    opacity: 0.4;
}

h2 {
    font-family: papyrus, sans-serif;
    font-size: 40px;
}

li {
    margin: 8px;
}


