.header {
    position: relative;
    font-family: papyrus, sans-serif;
    font-size: 60px;
    color: black;
    text-align: center;
    padding: 0px;
    margin-top: -800px;
    padding-bottom: 100px;
    top: 10%;
}

body, html {
    background-color: rgb(236, 234, 222);
    height: 100%;
    margin: 0px;
}

footer {
    font-family: sans-serif;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: rgb(148, 143, 117);
    border-bottom: solid black;
}

/* Styling by tags */

h2 {
    font-family: papyrus, sans-serif;
    font-size: 40px;
}

li {
    margin: 8px;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    text-decoration: underline;
    color: rgb(70, 62, 51);
}
#haiku p i {
    margin-left: 50px;
}
/* End of: Styling by tags */


/* Styling by id */
#fill {
    position: relative;
    background-color: rgb(63, 57, 43);
    padding: 70px;
    border-bottom: solid black;
    border-top: solid black;
}

#personalInfo {
    margin: auto;
    width: 50%;
    padding-left: 10%;
}

#favBooks {
    margin: auto;
    width: 50%;
}
#haiku {
    border:solid black;
    margin: auto;
    width: 310px;
    padding: 30px;
    background-color: rgb(179, 161, 144);

}
#interests {
    margin: auto;
    width: 50%;
    border: solid black;
    padding: 30px;
    background-color: rgb(221, 218, 202);
}

#schedule {
    margin: auto;
    width: 70%;
}

/*End of: Styling by id */


/* Navigation Bar Styling */
.stickyNav {
    z-index: 1;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgb(236, 234, 222);
    border-bottom: solid black;
}
.stickyNav + .content{
    padding-top: 60px;
}

#navBar {
    margin: auto;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid black;
}
#navBar a {
    display: inline;
    font-family: papyrus, sans-serif;
    font-size: 20px;
    color:black;
    background-color: rgb(236, 234, 222);
    text-decoration: none;
    padding-left: 35px;
    padding-right: 35px;

}

#navBar a:hover {
    background-color: rgb(184, 181, 169);
    transition: 0.3s;
}
/*End of: Navigation Bar Styling */


/* Content styling by class */
.content-1, .content-2, .content-3, .content-4, .contentTable{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: auto;
    padding-top: 50px;

}
.content-1 {
    padding-bottom: 50px;
    background-color: rgb(221, 218, 202);
    padding-right: 20%;
}

.content-2 {
    border-top: solid rgba(0, 0, 0, 0.856);
    border-bottom: solid rgba(0, 0, 0, 0.835);
    padding-bottom: 70px;
    background-color: rgb(175, 170, 142);
}

.content-3 {
    background-color: rgb(221, 218, 202);
    padding-bottom: 50px;
}
.content-4 {
    background-color: rgb(102, 98, 78);
    padding-bottom: 50px;
    border-top: solid black;
    border-bottom: solid black;
}

.contentTable {
    text-align: center;
    padding-bottom: 50px;
    background-color: rgb(221, 218, 202);
    border-top: solid black;
}
/*End of: Content styling by class */


/* Table Styling */
table, th, td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
    border-spacing: 3px;
}

table {
    width: 100%;
    background-color: white;
}

#day {
    width:20%;
}

#network {
    background-color: rgb(156, 185, 107);
}

#compP {
    background-color: rgb(101, 184, 251);
}

#compS {
    background-color: rgb(255, 125, 125);
}

#math {
    background-color: rgb(255, 222, 115);
}

#workOut {
    background-color: rgb(255, 195, 232);
}
/* End of: Table Styling */


/* Pictures Styling */
#topPic {
    display: block;
    height: 375px;
    width: 375px;
    border-radius: 5px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    margin-top: 0px;
    margin-bottom: 120px ;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(241, 241, 229);
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 60px;
    transform: rotate(3deg);
}

#topPic:hover {
    height: 400px;
    width: 400px;
    margin-bottom: 95px;
    opacity: 0.9;
    transition: 0.5s;
    cursor: pointer;
}

#family {
    display: block;
    margin: auto;
    float: right;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: solid black;
}

#bookPic {
    float: left;
    margin: auto;
    padding-right: 100px;
    height: 220px;
    width: 220px;
    opacity: 0.7;
}
/*End of: Pictures Styling */


/* Parallax images */
.par-1, .par-2, .par-3, .par-4, .par-5 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.par-1 {
    background-image: url("../img/utahorem.jpg");
    height: 800px;
    width: auto;
    opacity: 0.7;
    border-bottom: solid black;
}

.par-2 {
    border-top: solid black;
    background-image: url("../img/myDog.jpeg");
    height: 40%;
    opacity: 0.3;
}

.par-3 {
    background-image: url("../img/fishing.jpg");
    height: 40%;
    opacity: 0.6;
}

.par-4 {
    background-image: url("../img/nature.jpg");
    height: 40%;
    opacity: 0.6;

}

.par-5 {
    background-image: url("../img/sunset.JPG");
    height: 30%;
    opacity: 0.5;

}

/* End of: Parallax images */


/* Modal */

/* Keyframes */
@keyframes fade {
    0% {background-color: none}
    100% {background-color: rgba(0, 0, 0, 0.9)}
}

@keyframes scale{
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}
/* End of: Keyframes */
.modal {
    display: none;
    position: fixed;
    padding-top: 200px;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    animation-name: fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.closeModal {
    position: absolute;
    top: 40px;
    right: 50px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-size: 60px;
;
}
.closeModal:hover {
    transition: 0.5s;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgb(129, 23, 23);

}

.modalCont {
    margin: auto;
    display: block;
    animation-name: scale;
    animation-duration: 1s;
}
/*End of: Modal */

