.header {
    border-bottom: solid black ;
    font-family: papyrus, sans-serif;
    font-size: 30px;
    text-align: center;
    background-color: rgb(229, 238, 224);
    padding: 6px;
    margin: auto;
}

.stickyNav {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(229, 238, 224);
    border-bottom: solid black;
}

#navBar {

    padding-left: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid black;
}
#navBar a {
    display: inline;
    font-family: papyrus, sans-serif;
    font-size: 30px;
    color:black;
    background-color: rgb(229, 238, 224);
    text-decoration: none;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
}

#navBar a:hover {
    background-color: rgb(173, 197, 159);
}

.content {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: rgb(229, 238, 224);
    margin: auto;
    max-width: 1200px;
    padding: 20px;
}

#home, #personalInfo, #favBooks, #haiku, #interests, #schedule {
    padding-top: 70px;
    margin-top: -70px;
}

table, th, td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
    border-spacing: 3px;
}

#day {
    width:20%;
}

table {
    width: 100%;
    background-color: white;
}

#network {
    background-color: rgb(156, 185, 107);
}

#compP {
    background-color: rgb(101, 184, 251);
}

#compS {
    background-color: rgb(255, 125, 125);
}

#math {
    background-color: rgb(255, 222, 115);
}

#workOut {
    background-color: rgb(255, 195, 232);
}

img {
    display: flex;
    flex-wrap: wrap;
    float: right;
    border-radius: 5px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 80px;
    background-color: white;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 60px;
    transform: rotate(3deg)
}

body, html {
    background-color: rgb(229, 238, 224);
    height: 100%;
    margin: 0;
}

.backgroundParallax {
    background-image: url("../img/nature2.jpg");
    opacity: 0.6;
    height: 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxText {
    font-family: papyrus, sans-serif;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 30%;
}

.backgroundParallax2 {
    background-image: url("../img/gun.jpg");
    opacity: 0.6;
    height: 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-family: papyrus, sans-serif;
    font-size: 40px;
}

li {
    margin: 8px;
}


